{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %}

{% block content %}
    <h1 align="center">Privacy Policy</h1>
  <p>
    This privacy policy applies solely to information collected by this web
    site. It will notify you of the following:
  </p>
  <ul>
    <li>
      What personally identifiable information is collected from you through
      the web site, how it is used and with whom it may be shared.
    </li>
    <li>
      What choices are available to you regarding the use of your data.
    </li>
    <li>
      The security procedures in place to protect the misuse of your information.
    </li>
    <li>How you can correct any inaccuracies in the information.</li>
  </ul>

  <hr/>

  <h3>Information collection, use, and sharing</h3>
  <p>
    You are the sole owner of the information collected on this site. I
    only have access to/collect information that you voluntarily give via
    email or other direct contact from you. I will not sell or rent this
    information to anyone.
  </p>
  <p>
    I will use your information to respond to you, regarding the reason you
    contacted me. I will not share your information with any third party
    outside of my organization, other than as necessary to fulfill your
    request.
  </p>
  <p>
    Unless you ask not to, I may contact you via email in the future to
    tell you about specials, new products or services, or changes to this
    privacy policy.
  </p>
    
  <hr/>
  
  <h3>Your access to and control over information</h3>
  <p>
    You may opt out of any future contacts from me at any time. You can do the
    following at any time by contacting me via the email address or phone
    number provided to you:
  </p>
  <ul>
    <li>See what data I have about you, if any.</li>
    <li>Change/correct any data I have about you.</li>
    <li>Have me delete any data I have about you.</li>
    <li>Express any concern you have about my use of your data.</li>
  </ul>
  
  <hr/>
  
  <h3>Security</h3>
  <p>
    I take precautions to protect your information. When you submit sensitive
    information via the email, your information is protected both online and
    offline.
  </p>
  <p>
    Wherever I collect sensitive information (such as your personal data),
    that information is encrypted and transmitted to me in a secure way.
    You can verify this by looking for "https" at the beginning of the address of
    the web page.
  </p>
  <p>
    While I use encryption to protect sensitive information transmitted
    online, I also protect your information offline. Only employees who
    need the information to perform a specific job (for example, billing or
    customer service) are granted access to personally identifiable information.
    The computers/servers in which we store personally identifiable information
    are kept in a secure environment.
  </p>

  <hr/>

  <h3>Cookies</h3>
  <p>
    I use "cookies" on this site. A cookie is a piece of data stored on a
    site visitor's hard drive to help improve your access to the site
    and identify repeat visitors to the site. For instance, when I use a
    cookie to identify you, you would not have to log in with a password more
    than once, thereby saving time while on the site. Usage of a cookie is in no way linked to any personally
    identifiable information on the site.
  </p>
  <p>
    If you do not want to be tracked by Google Analytics you may opt-out using
    <!--<a target="_blank" href="https://tools.google.com/dlpage/gaoptout/">
      Google&#39;s official opt-out browser add-on
    </a>.-->
  </p>

  <hr/>
  
  <h3>Links</h3>
  <p>
    This web site contains links to other sites. Please be aware that we are
    not responsible for the content or privacy practices of such other sites.

    We encourage our users to be aware when they leave our site and to read
    the privacy statements of any other site that collects personally
    identifiable information.
  </p>

  <hr/>
  
  <h3>Updates</h3>
  <p>
    Our privacy policy may change from time to time and all updates will be
    posted on this page.
  </p>

  <p>
    If you feel that I am not abiding by this privacy policy, you should
    contact me immediately via email or provided telephone number.
  </p>

  <small class="text-muted">Last updated 18 May 2022</small>
{% endblock %}